body {
    align-items: center;
    background: green;
    display: flex;
    flex-direction: column;
    font-family: 'Rubik Glitch', cursive;
    padding: 25px;
    width: 100%;
}

h1 {
    font-size: 65px;
    
}

h2{
    font-size: 40px;
    margin 1px;
}


section.board {
    display: grid;
    height: 540px;
    width: 630px;
    background-color: blue;
    border: 10px solid navy;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 50px;
}

.cir {
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
    border: 5px solid navy;

}

#resetBtn {
    background-color: red;
    border-radius: 5px;
    border: 5px solid black;
    color: black;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 30px;
    text-transform: uppercase;
    margin: 20px;
    color: yellow;
    font-family: 'Chivo Mono', monospace;
    
  }

  #resetBtn:hover {
    background-color: yellow;
    border: 5px solid black;
    color:red;
    
  }