body {
    align-items: center;
    background: green;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    padding: 25px;
    width: 100%;
}
section.board {
    display: grid;
    height: 540px;
    width: 630px;
    background-color: blue;
    border: 10px solid navy;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 50px;
}

.cir {
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
    border: 5px solid navy;




}

















#resetBtn {
    background-color: fff;
    border-radius: 5px;
    border: none;
    color: black;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 30px;
    text-transform: uppercase;
    
  }

  #resetBtn:hover {
    background-color: green;
  }